<form action="/players/<%= p._id %>">
    <% if (user?._id.equals(p.user)) { %>
    <label>Points:
        <input type="number" name="points">
      </label><br>
      <label>Assists:
        <input type="number" name="assists">
      </label><br>
      <label>Rebounds:
        <input type="number" name="rebounds">
      </label><br>
</form>